.to-chat {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    height: 70px;
}

a {
    text-decoration: none;
}
.to-chat:hover {
    background-color: #54575b
}
.to-chat-img {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 20px;
}

.to-chat-name {
    font-weight: 500;
    color: white;
    
}

Link {
    text-decoration: none;
    color: white;
    display: flex;
}